body {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  width: 1600px;
  height: 900px;
  margin: 0px;
  padding: 0px;
  background: rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
}

.checkout-section {
  display: flex;
}

.checkout-left {
  position: absolute;
  width: 499px;
  height: 316px;
  left: 317px;
  top: 0px;
  background: #ffffff;
}

.checkout-left div h4 {
  width: 315px;
  height: 40px;
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #0b1d03;
  margin: 48px 134px 16px 48px;
}

.checkout-box {
  top: 104px;
  width: 403px;
  height: 164px;
  background: #f2f2f2;
  border-radius: 4px;
  margin: 0px 48px 48px 48px;
  background-image: url(../img/bagcafé.png);
  background-repeat: no-repeat;
  background-position: 2.5vh;
}

.checkout-box h3 {
  width: 231px;
  height: 26px;
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #0b1d03;
  white-space: nowrap;
  padding: 24px 32px 0px 140px;
}

.checkout-box h2 {
  width: 84px;
  height: 40px;
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #0b1d03;
  padding: 8px 179px 0px 140px;
}

.checkout-box p {
  width: 63px;
  height: 26px;
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #a0996c;
  padding: 16px 200px 24px 140px;
}

.splitter {
  position: absolute;
  width: 2px;
  height: 316px;
  left: 814px;
  top: 0px;
}

.checkout-right {
  position: absolute;
  left: 816px;
  top: 0px;
  display: flex;
  flex-direction: column;
  width: 784px;
  height: 900px;
  background: #ffffff;
}

.form-title ul {
  display: flex;
  background-image: url("../img/fechar.svg");
  background-repeat: no-repeat;
  background-position: 79.5vh 2vw;
}

.form-title ul li:first-child {
  margin-left: 49px;
  color: #0b1d03;
}

.form-title ul li {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #969696;
  margin: 48px 0px 32px 18px;
}

.form-title ul li:last-child {
  margin-right: 162px;
}

.form-input1 {
  border: 2px solid #0b1d03;
  box-sizing: border-box;
  border-radius: 4px;
  width: 656px;
  height: 76px;
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #969696;
  padding: 24px 573px 24px 28px;
  margin: 0px 80px 24px 48px;
}

.form-input2 {
  border: 2px solid #0b1d03;
  box-sizing: border-box;
  border-radius: 4px;
  width: 656px;
  height: 76px;
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #969696;
  padding: 24px 441px 24px 28px;
  margin: 0px 80px 24px 48px;
}

.form-input3 {
  border: 2px solid #0b1d03;
  box-sizing: border-box;
  border-radius: 4px;
  width: 656px;
  height: 76px;
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #969696;
  padding: 24px 578px 24px 28px;
  margin: 0px 80px 24px 48px;
}

.form-input4 {
  border: 2px solid #0b1d03;
  box-sizing: border-box;
  border-radius: 4px;
  width: 656px;
  height: 76px;
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #969696;
  padding: 24px 433px 24px 28px;
  margin: 0px 80px 24px 48px;
}

.form-input5 {
  border: 2px solid #0b1d03;
  box-sizing: border-box;
  border-radius: 4px;
  width: 656px;
  height: 76px;
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #969696;
  padding: 24px 509px 186px 28px;
  margin: 0px 80px 32px 48px;
  white-space: nowrap;
}

input:focus {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

textarea:focus {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.button {
  background: #0b1d03;
  border-radius: 4px;
  color: white;
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  width: 656px;
  height: 76px;
  margin: 0px 80px 48px 48px;
}

.header {
  background-image: url("../img/Cafeteria.jpg");
  background-repeat: no-repeat;
  height: 900px;
  width: 100%;
  color: white;
  opacity: 0.4;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-top_rectangles {
  margin-top: 39px;
  margin-left: 84px;
}

.header-top_title {
  margin-top: 32px;
}

.header-top_bag {
  margin-top: 36px;
  margin-right: 89px;
}

.header-bottom {
  margin-left: 84px;
}

.header-bottom_rectangles {
  display: flex;
}

.header-bottom_rectangle {
  margin-top: 180px;
  width: 32px;
  height: 4px;
  opacity: 0.5;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
  transition: 0.5s, 0.5s opacity;
}

.header-bottom_rectangle:hover {
  background: #fff;
  opacity: 1;
}

.header-bottom_rectangle:not(:last-child) {
  margin-right: 8px;
}

.header-bottom_title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  margin-top: 40px;
  color: #ffffff;
}

.header-bottom_paragraph {
  margin-top: 24px;
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

.header-bottom_arrows {
  margin-top: 120px;
}

.header-bottom_arrow {
  margin-right: 20px;
}
